.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nice-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 50px -12px;
}

#landing-title {
  font-size: min(3.6rem, 10vw);
  text-shadow: 1px 1px 0 #cccccc70, 2px 2px 0 #ccc, 3px 3px 0 #4444442e,
    2px 2px 0 #44444452, 2px 2px 0 #4444441f;
}

#hero-img {
  height: max(calc(100vh - 610px), 200px);
  background: url(https://images.unsplash.com/photo-1504711434969-e33886168f5c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)
    no-repeat center / cover;
  position: relative;
  border-radius: 5px;
}

#hero-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0.6;
  border-radius: 5px;
}

@media (max-width: 350px) {
  #hero-img {
    display: none;
  }
}

@media (max-width: 768px) {
  #landing-title {
    text-shadow: 1px 1px 0 #cccccc3a, 2px 2px 0 rgba(204, 204, 204, 0.575),
      3px 3px 0 #44444410, 2px 2px 0 #44444419, 2px 2px 0 #4444440b;
  }
  .border-hide-phone {
    border: 0 !important;
  }
}

.buttons {
  margin: 20px;
  display: flex;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: rgba(24, 63, 110, 0.9);
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.buttons button:disabled {
  background-color: rgba(63, 69, 77, 0.9);
}

.buttons button:hover:not(:disabled) {
  transform: scale(1.05);
}

.logo-size {
  width: 15rem !important;
}

.white {
  color: white;
}

.white:hover {
  color: white;
}

a {
  display: block;
  text-align: right;
}

.bg-light {
  background-color: transparent !important;
}

.navbar-logo {
  height: 100px;
}

@media (max-width: 768px) {
  .top-navbar.navbar-light {
    background-color: #3182ce !important;
  }
  .navbar-logo {
    height: 60px !important;
  }
  .navbar-nav a {
    color: white !important;
  }
  .navbar-nav .active-underline {
    background-color: white !important;
  }
}

.text-error-under {
  text-decoration: underline wavy #dc3434;
}

@media (hover: hover) and (pointer: fine) {
    .hover-toggle:hover .hover-hide,
    .hover-toggle .hover-show {
        display: none !important;
    }

    .hover-toggle .hover-hide,
    .hover-toggle:hover .hover-show {
        display: inline-block !important;
    }
}

@media (hover: none) {
    .hover-toggle.simulated-hover .hover-hide,
    .hover-toggle .hover-show {
        display: none !important;
    }

    .hover-toggle .hover-hide,
    .hover-toggle.simulated-hover .hover-show {
        display: inline-block !important;
    }
}


.border-5 {
    border-width: 5px !important;
}

.stamp:after {
  border-radius: 0.3em;
  font-size: 50px;
  border: solid 0.1em;
  font-weight: bold;
  line-height: 1;
  opacity: 0;
  position: absolute;
  padding: 0.1em 0.5em;
  width: 75%;
  top: 0%;
  right: -30%;
  text-transform: uppercase;
  opacity: 0;
  transform-origin: 50% 50%;
  transform: rotate(-2deg) scale(5);
  transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  pointer-events: none;
}

.stamp.ready:after {
  text-align: center;
  opacity: 1;
  transform: rotate(35deg) scale(0.8);
  z-index: 1000;
}

.stamp[data-type="fake"]:after {
  color: #dc3434;
  border-color: #dc3434;
  content: "Notícia Falsa";
}

.stamp[data-type="genuine"]:after {
  color: #279841;
  border-color: #279841;
  content: "Notícia Verídica";
}

.sm-stamp[data-type="genuine"]:after {
  width: 65%;
  top: -2.5rem;
  left: -30%;
  transform: rotate(-30deg) scale(0.5);
  z-index: 4;
}

.sm-stamp[data-type="fake"]:after {
  width: 43%;
  top: -4.5rem;
  right: -18.5%;
  transform: rotate(20deg) scale(0.5);
  z-index: 4;
  font-variant: all-small-caps;
}

.no-pointer-events {
  pointer-events: none;
}

.placeholder {
  background-color: #b0c0c7;
  animation-name: shine;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
}
.text-title-placeholder {
  height: 15px;
  margin-bottom: 15px;
}

.text-placeholder {
  height: 10px;
  margin-bottom: 10px;
}

@keyframes shine {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.div-bottom {
  position: absolute;
  bottom: 0;
}

.shake-image {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake-animation 10s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  2% {
    transform: translate(5px, 0) rotate(-1deg);
  }
  4% {
    transform: translate(0, 0) rotate(0deg);
  }
  6% {
    transform: translate(5px, 0) rotate(1deg);
  }
  8% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.text-primary {
  color: #4299e1 !important;
}

.blue-secondary {
  color: #2c5282 !important;
}

.green-secondary {
  color: #279841 !important;
}

.social-buttons-shadow {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
  transition: 200ms;
}

.social-buttons-shadow:hover {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

#home-card .news-title {
  font-weight: 600;
}

.smallish {
  font-size: 90%;
}

.low-zindex {
  z-index: -1;
}

.font-weight-600 {
  font-weight: 600;
}

.red-gradiant-overlay {
  background: linear-gradient(to left, rgb(255, 0, 0, 3%), rgba(0, 0, 0, 0));
}

.green-gradiant-overlay {
    background: linear-gradient(to left, rgb(0, 255, 0, 3%), rgba(0, 0, 0, 0));
}

  
[data-toggle="collapse"].collapsed svg{
    transform: rotate(180deg);
}

.cursor-pointer {
    cursor: pointer;
}

.display-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.icon-size {
  font-size: 20px;
  margin-left: 0.6rem;
}

.linkedin-color {
  color: #0e76a8
}

.action-button {
    position: fixed;
    bottom: 20px;
    left: unset !important;
    right: 20px !important;
}

.no-underline {
    text-decoration: none !important;
}

.btn-circle {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 60px;
    font-size: 1em;
    color: white;
    background-color: #4299e1;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-circle:hover {
    color: white;
}

.at-color {
    color: #6c757d !important;
}

.at-color:hover {
    color: #585e63 !important
}