#root {
  justify-content: center;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row > * {
  /* margin: 5px; */
}

.cardContainer {
  width: 90vw;
  max-width: 500px;
  height: 34em;
}

.cardContainer.flipped .front {
  transform: rotateY(180deg);
}
.cardContainer.flipped .back {
  transform: rotateY(0deg);
}

.front,
.back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(-180deg);
}

.card-shadow {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}

.tinder-card {
  background-color: #fff;
  width: 90vw;
  max-width: 500px;
  height: 34em;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .tinder-card {
    height: 75vh;
    min-height: unset;
  }

  .cardContainer {
    height: 75vh;
  }
}

.cardContent {
  width: 100%;
  height: 100%;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.bg-error {
  background-color: rgba(203, 68, 74, 0.7);
}

.news-box {
  height: 7rem;
  overflow: scroll;
}

.font-points {
  font-size: 3.5em;
}

.img-div {
  max-height: 15rem;
  overflow-y: hidden;
}

.img-div > img {
  width: 100%;
  height: auto;
}

.preview {
  height: 85vh;
  overflow-y: scroll;
}

.cardContainer.card-preview {
  height: auto !important;
  width: auto;
}

.card-preview .card {
  height: auto !important;
  width: 10em !important;
}

.container-game {
  text-align: center;
}
