.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.buttons {
  margin: 20px;
  display: flex;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: rgba(24, 63, 110, 0.9);
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

.logo-size {
  width: 15rem !important;
}

.white {
  color: white;
}

.white:hover {
  color: white;
}

a {
  display:block;
  text-align:right;
}


.bg-light {
    background-color: transparent!important;
}


.text-error-under {
    text-decoration: underline wavy hotpink;
}
  
.hover-toggle:hover .hover-hide,
.hover-toggle .hover-show {
    display: none;
}


.hover-toggle .hover-hide,
.hover-toggle:hover .hover-show {
    display: inline-block;
}

.border-5 {
    border-width:5px !important;
}

/* .stamp {
    right: -55px;   
    font-size: x-large;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
} */


.stamp:after {
    border-radius: .3em;
    font-size: 50px;
    border: solid 0.1em;
    font-weight: bold;
    line-height: 1;
    opacity: 0;
    position: absolute;
    padding: .1em .5em;
    top: 0%;
    /* left: 50%; */
    text-transform: uppercase;
    opacity: 0;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(5);
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    /* z-index: -1; */
    pointer-events: none;
}

.stamp.ready:after {
    opacity: .75;
    transform: rotate(35deg) scale(1);
}

.stamp[data-type="fake"]:after {    
    color: red;
    border-color: red;
    content: 'Notícia Falsa';
}

.stamp[data-type="genuine"]:after {
    color: green;
    border-color: green;
    content: 'Notícia Genuina';
}


  

.div-bottom {
    position: absolute;
    bottom: 0;
}