.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.buttons {
  margin: 20px;
  display: flex;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: rgba(24, 63, 110, 0.9);
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

.logo-size {
  width: 15rem !important;
}

.white {
  color: white;
}

.white:hover {
  color: white;
}

a {
  display:block;
  text-align:right;
}


.bg-light {
    background-color: transparent!important;
}


.text-error-under {
    text-decoration: underline wavy red;
}
  
.hover-toggle:hover .hover-hide,
.hover-toggle .hover-show {
    display: none;
}


.hover-toggle .hover-hide,
.hover-toggle:hover .hover-show {
    display: inline-block;
}

.border-5 {
    border-width:5px !important;
}

.stamp:after {
    border-radius: .3em;
    font-size: 50px;
    border: solid 0.1em;
    font-weight: bold;
    line-height: 1;
    opacity: 0;
    position: absolute;
    padding: .1em .5em;
    width: 75%;
    top: 0%;
    text-transform: uppercase;
    opacity: 0;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(5);
    transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    pointer-events: none;
}

.no-pointer-events {
    pointer-events: none;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.stamp.ready:after {
    opacity: .75;
    transform: rotate(35deg) scale(.8);
}

.stamp[data-type="fake"]:after {    
    color: red;
    border-color: red;
    content: 'Notícia Falsa';
}

.stamp[data-type="genuine"]:after {
    color: green;
    border-color: green;
    content: 'Notícia Verídica';
}


  

.div-bottom {
    position: absolute;
    bottom: 0;
}

.shake-image {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake-animation 5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
  
@keyframes shake-animation {
    0% { transform:translate(0,0) rotate(0deg);}
   25% { transform:translate(5px,0) rotate(-1deg);}
   50% { transform:translate(0,0) rotate(0deg); }
   75% { transform:translate(5px,0) rotate(1deg);}
   100% { transform:translate(0,0) rotate(0deg);}
}
